<header>
        <img src="https://i.ibb.co/1vXSzSM/logo.png" alt="">
        

      <nav class="menu">
        <a class="menu-text" href="http://localhost:3230/">Criar Postagem</a>
        <a class="menu-text" href="">Projetos</a>
         <button class="menu-text" id="clicaae">Informações</button>
      </nav>
</header>
   <div class="popup-wrapper">
        <div class="popup">
          <div class="popup-close">X</div>
          <div class="popup-content">
            Nesse projeto eu estava estudando JavaScript há cerca de 2 meses e
            meio. Aprendi o básico de manipulação de arrays e programação
            orientada a objeto. Confesso que tive muito trabalho e cometi erros
            nesse projeto, mas com esses erros ganhei experiência e aprendi a
            pesquisar melhor o que eu precisava.
          </div>
        </div>
      </div>
  </div>
<div class="news">
   <h1 class="margin">Postagens</h1>
  {{#each posts}}
    <div class="post">
      <span class="title">
        <h2>{{title}}</h2></span>
      <span> <h3>{{content}}</h3></a>
    </div>
  {{/each}}
</div>
      <div class="js">
        <div class="rotulos">
          <img src="https://i.ibb.co/k9rX5Mf/JS.png" alt="" />
          <img src="https://i.ibb.co/S3Jrps2/nodejs.png" alt="" />
          <img src="https://i.ibb.co/CsB6q3M/mongo.png" alt="" />
        </div>
          <div class="github">
            <a href="https://i.ibb.co/R25szhy/github.png">
              <img src="https://i.ibb.co/R25szhy/github.png" alt="" />
            </a>
          </div>
      </div>